 <style type="text/css">
.active{

}
 </style>
  <div class="sidebar" data-color="purple" data-background-color="white">
      <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
          <img src="{{asset('img/fav.png')}}">
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item {{ state }}">
            <a class="nav-link" href="{{ route('users.edit')}}">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="nav-item {{ state1 }}">
            <a class="nav-link" href="{{ route('orders.index') }}">
              <i class="material-icons">shopping_basket</i>
              <p>Orders</p>
            </a>
          </li>
          <li class="nav-item ">
        <a class="nav-link" >
          <form style="margin-left:-0.5rem; cursor:pointer;" method="POST" action="{{ url('/')}}/logout">
            {{ csrf_field() }}
            <button style="border:none; background:transparent; cursor:pointer;" type='submit'>
              <i class="material-icons">flight_takeoff</i>
              <p>Logout</p>
            </button>
          </form>
        </a>
          </li>
        </ul>
      </div>

          </div>